<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb403669466699825</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-zEDwWj3RrugAu55MaJpCHZ7Kj</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.602</string>
	<key>FacebookAppID</key>
	<string>403669466699825</string>
	<key>FacebookDisplayName</key>
	<string>CloserConnect</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We wish to capture images from camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to location services to help find the Malls for your City.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We wish to pick photos library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Daniel-Black.otf</string>
		<string>daniel.ttf</string>
		<string>danielbd.ttf</string>
		<string>DejaVuSans-Bold.ttf</string>
		<string>DejaVuSans-BoldOblique.ttf</string>
		<string>DejaVuSans-ExtraLight.ttf</string>
		<string>DejaVuSans-Oblique.ttf</string>
		<string>DejaVuSans.ttf</string>
		<string>DejaVuSansCondensed-Bold.ttf</string>
		<string>DejaVuSansCondensed-BoldOblique.ttf</string>
		<string>DejaVuSansCondensed-Oblique.ttf</string>
		<string>DejaVuSansCondensed.ttf</string>
		<string>eurof35.ttf</string>
		<string>eurof36.ttf</string>
		<string>eurof55.ttf</string>
		<string>eurof56.ttf</string>
		<string>eurof75.ttf</string>
		<string>eurof76.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
